$bg-img-path: "https://4.bp.blogspot.com/-M7sX37jnp6o/UgAxmy_zJ-I/AAAAAAAAYUE/kT8vAjhp6o4/w1200-h630-p-k-no-nu/Empanadas+(1).jpg";

$family-title: 'Playfair Display', serif;
$family-text: 'Nunito', sans-serif;

$colores: (
    marron-claro: rgb(184, 126, 59), 
    marron: rgb(155, 104, 46), 
    marron-oscuro: rgb(128, 86, 38)
);

$ancho: 400px;