*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Nunito', sans-serif;
    text-decoration: none;
    color: black;
}

.active{
    text-decoration: underline;
}

.body{
    background-image: url("https://4.bp.blogspot.com/-M7sX37jnp6o/UgAxmy_zJ-I/AAAAAAAAYUE/kT8vAjhp6o4/w1200-h630-p-k-no-nu/Empanadas+(1).jpg");
    background-repeat: repeat-y;
    background-size: cover;
}

.header{
    color: black;
    text-align: center;
    margin: 5vh 10vw;
    background-color: white;
    opacity: 0.8;
    padding: 3vh 0;
    border-radius: 20px;
}

.titulo{
    margin: 0;
    padding: 0;
    font-size: 3rem;
    font-family: 'Playfair Display', serif;
}

.tituloDos{
    font-style: italic;
    font-size: 2rem;
    margin: 0;
    padding: 0;
}

.tituloTres{
    color: black;
    text-align: center;
    font-size: 2rem;
    margin: 0;
    padding-bottom: 5vh;
}

.tituloCuatro{
    color: white;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 3vh;
    word-break: break-all;
    transition: all 0.5s;
}

.tituloCuatro:hover{
    font-size: 2.3rem;
}


.lista{
    color: white;
    text-align: center;    
}

.linksContainer{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: white;
    padding: 30px;
    margin-top: 5vh;
    opacity: 0.8;
}

.section{
    background-color: white;
    padding: 40px 0px 40px 0px;
    margin: 0px 200px 0px 200px;
    opacity: 0.8;
}

.mainContent{
    background-color: white;
    opacity: 0.8;
    padding: 30px;
    margin: 100px;
    border-radius: 20px;
}


.div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.box{
    width: 400px;
    background-color: rgb(184, 126, 59);
    color: white;
    padding: 30px;
    margin: 30px;
    border-radius: 20px;
    transition: all 0.5s;
}

.box:hover{
    width: 430px;
}

.flexContent{
    display: flex;
    flex-direction: column;   
}

.flexContentDos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer{
    background-color: white;
    opacity: 0.8;
    text-align: center;
    display: flex;
    gap: 40vw;
    margin-top: 10vh;
    padding: 2vw;
}

.listaFooter{
    list-style: none;
    display: flex;
    align-items: flex-end;
    gap: 5vw;
}

.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;
    margin: 10vh 10vw;
    background-color: white;
    opacity: 0.8;
    padding: 5vw;
    border-radius: 20px;
}

.formulario div{
    width: 100%;
    display: flex;
}

.formulario div .input{
    width: 100%;
    border: none;
    border-bottom: solid 1px;
    resize: none;
    color: black;
}

.btnContainer{
    display: flex;
    gap: 5vw;
    justify-content: center;
}

.imgContainer{
    display: flex;
    justify-content: center;
    gap: 5vw;
}

.imgContainer img{
    width: 40%;
}

.menu{
    display: flex;
    justify-content: center;
    margin-top: 10vh;
}

.divsContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 2fr auto;
    grid-template-areas: 
    "input comentarios comentarios"
    "encontranos encontranos encontranos";
}

.input{
    grid-area: input;
    border: black solid 1px;
    color: white;
    
}

.input::placeholder{
    color: white;
}

.input p{
    font-size: 1.5rem;
    text-align: center;
    padding: 2rem 0 2rem 0;
}

.comentarios{
    grid-area: comentarios;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.comentariosDos{
    width: 352px;
    height: 150px;
    background-color: rgb(184, 126, 59);
    border-radius: 10px;
    padding: 10px;
}

.comentariosDos .text{
    height: 90px;
    overflow-y: scroll;
    background-color: rgb(155, 104, 46);
    padding: 5px;
    border: rgb(128, 86, 38) solid 1px;
}

.imgContacto{
    width: 25px;
}

.formasDePago{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.formasDePago img{
    width: 15%;
}

.linkNav{
    display: flex;
    gap: 1rem;
}

.linkNav img{
    width: 25px;
}

.info{
    display: flex;
    justify-content: space-between;
}

.info .starContainer{
    display: flex;
}

.info .starContainer img{
    width: 20px;
}

.commentForm{
    background-color: rgb(184, 126, 59);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3vh;
}

.commentForm input{
    width: 80%;
    padding: 10px;
}

.divsContainer{
    gap: 30px;
}

.mapa{
    grid-area: encontranos;
    background-color: rgb(184, 126, 59);
    border-radius: 10px;
    margin-top: 2rem;
    display: flex;
    padding: 10px;
}

.ubicacion{
    border-radius: 10px;
    width: 40%;
}

.findUs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 60%;
}

.findUs img{
    width: 30%;
}

.findUs h3{
    font-size: 2rem;
}

.commentForm .submit{
    border-radius: 10px;
    width: 150px;
    background-color: rgb(155, 104, 46);
    border: rgb(128, 86, 38) solid 1px;
}

.commentForm inputDos{
    border: none;
    background-color: rgb(155, 104, 46);
    border-bottom: rgb(128, 86, 38) solid 1px;
}


@media screen and (max-width: 940px){
    .mainContent{
        margin: 20px;
    }
    .linkNav span{
        display: none;
    }

    .clicked{
        border-bottom: 3px solid;
        padding-bottom: 10px;
    }
}

@media screen and (max-width: 600px){

    .mainContent{
        margin: 20px;
    }

    .imgContainer{
        display: flex;
        flex-direction: column;
        gap: 5vh;
    }

    .imgContainer img{
        width: 100%;
    }

    .flexContentDos{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        gap: 5vh;
    }

    .box{
        width: 80%;

    }

    .div{
        display: flex;
        flex-direction: column;
    }

    .footer{
        display: flex;
        flex-direction: column-reverse;
        gap: 0;

    }

    .listaFooter{
        justify-content: center;
        padding: 1rem;
    }

    .linkNav span{
        display: none;
    }

    .clicked{
        border-bottom: 3px solid;
        padding-bottom: 10px;
    }
}
